# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Data (archivos generados por el pipeline)
data/bronze/*.parquet
data/silver/*.parquet
data/gold/*.parquet
data/gold/*.csv
data/logs/

# No ignorar los CSV fuente de Bronze
!data/bronze/*.csv

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Virtual environments
venv/
.env/
